body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
}

img {
  height: auto;
  width: 250px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.desc p {
  color: brown;
  background-color: hsla(60, 100%, 50%, 0.834);
  text-align: center;
}

ul li,
ol li {
  font-size: 25px;
  line-height: 1.5;
}
